* {
    box-sizing: border-box;
    max-width: 100vw;
    max-height: auto;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.fonte-texto {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f8f9fa;
}

.background {
   background-color: #f8f9fa;
   background: url(/assets/top_leaves.jpg) center no-repeat;
   background-size: cover;
   
}

.mobile-menu {
    max-width: 5vw;
    height: auto;
}

.font-nav-title {
    font-family: 'Fjalla One', sans-serif;
    color: #f8f9fa;
    text-transform: uppercase;
    font-style: bold;
}

.imagem-carrossel {
    object-fit: cover;
    height: 580px;
}

.background-carousel {
    background-color: #0d201c;
    opacity: 0.8;
    margin: 0 -15% 0 -15%;
    padding: 5%;
}

.background-card {
    background-color: #0d201c;
}

.imagem-card {
    width: 90%;
    height: auto;
    padding: 20% 2% 0 10%;
    margin: 0;
}

.border-card {
    border-radius: 5px;
    border-style: none;
    margin: 2px 3px 2px 3px;
}

.font-title-card {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
    color: #f8f9fa;
}

.border-card-article {
    border-radius: 0;
    border-style: none;
}

.imagem-card-article {
    object-fit: cover;
    height: 30vh;
}

.background-card-article {
    background-color: #5d5267;
}

.font-title-card-article {
    font-family: 'Fjalla One', sans-serif;
    color: #f8f9fa;
}

.font-card-article {
    font-family: 'Roboto', sans-serif;
    color: #f8f9fa;
}

#footer-redes {
    font-size: 1.5em;
}

.fonte-texto-card-footer {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

