
.item {
    font-size: 20px;
}
.fundo {
    background-color: rgb(10, 96, 94);
}


.dropdown-item {
    position: relative;
}

.background {
   /* background-color:#7d7270; */
    background-color: rgb(10, 96, 94);
    font-size: 25px;
    color: red;
}


.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    widows: 1024px;; 
    height:300px; }

.imagem-carrossel {
    object-fit: scale-down;
}

.fonte-texto {
    font-family: 'Raleway', cursive;
    font-weight: 400;
    font-style: normal;
    color:rgb(7, 58, 50);
}

.fonte-titulo-card {
    font-family: 'Raleway', cursive;
    font-size: 20px;
    color: rgb(3, 66, 68);
}

.fonte-texto-card-footer {
    font-family: 'Raleway', cursive;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: rgb(15, 234, 241);
}

#footer-redes {
    font-size: 2em;
}
