.background {
   background-color: lightblue; 
}

.nav-nav{
    
}

.imagem-carrossel {
    object-fit: cover;
    height: auto;
    opacity: 40%;
}
h5{
    color:black;
    font-weight: bold;
p{
    color:black;   
    
}

.fonte-texto {
    font-family: 'McLaren', cursive;
    font-weight: 300;
    font-style: normal;
    color:black;
}

.fonte-titulo-card {
    font-family: 'McLaren', cursive;
    font-size: 20px;
    color: black;
}

.fonte-texto-card-footer {
    font-family: 'McLaren', cursive;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: darkblue;
}

#footer-redes {
    font-size: 2em;
}