.background {
   background-color:cadetblue;
   opacity: 90%;
}

.imagem-carrossel {
    object-fit: cover;
    height: 400px;
}

.fonte-texto {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    color:darkred;
}

.fonte-titulo-card {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    color: darkblue;
}

.fonte-texto-card-footer {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}
.imagem-card {
    object-fit: cover;
    height: 286px;
}

.borda-card {
    border-color: darkblue;
}

#footer-redes {
    font-size: 2em;
}
 .navbar-toggler, .navbar-dark, .navbar-nav, .nav-link {
    border-color: #fff !important;
    color: #fff !important;
}

